# Default ignored files
/../../../../../../../../../../:WebstormProjects/learn/VueJs01/.idea/shelf/
/../../../../../../../../../../:WebstormProjects/learn/VueJs01/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../../:WebstormProjects/learn/VueJs01/.idea/httpRequests/
